In [1]:
import pandas as pd
import requests
from io import StringIO

In [2]:
#getting the table from the website
url = "https://en.wikipedia.org/api/rest_v1/page/html/List_of_most-visited_museums"

headers = {
    'User-Agent': 'Mozilla/5'
    }

response = requests.get(url, headers = headers).text
museums = pd.read_html(StringIO(response))
museums_df = museums[0]
museums_df

,Name,Visitors,City,Country
0,Louvre,"8,700,000 (2024)[1]",Paris,France
1,National Museum of China,"6,956,800 (2024)[2]",Beijing,China
2,Vatican Museums,"6,825,436 (2024)[3]","Vatican City, Rome",Vatican
3,Shenzhen Museum,"6,805,000 (2024)[4]",Shenzhen,China
4,British Museum,"6,479,952 (2024)[5]",London,United Kingdom
...,...,...,...,...
59,Palacio de Cristal del Retiro,"1,318,823[b][46]",Madrid,Spain
60,Guggenheim Museum Bilbao,"1,301,343 (2024)[54]",Bilbao,Spain
61,Chinese Aviation Museum,"1,292,278 (2023)[55]",Beijing,China
62,Moscow Kremlin Museum,"1,214,851 (2024)[56]",Moscow,Russia
63,NaN,NaN,NaN,NaN

In [3]:
museums_df["Visitors"]

0      8,700,000 (2024)[1]
1      6,956,800 (2024)[2]
2      6,825,436 (2024)[3]
3      6,805,000 (2024)[4]
4      6,479,952 (2024)[5]
              ...
59        1,318,823[b][46]
60    1,301,343 (2024)[54]
61    1,292,278 (2023)[55]
62    1,214,851 (2024)[56]
63                     NaN
Name: Visitors, Length: 64, dtype: object

In [4]:
museums_df["Visitors_2023_2024"] = museums_df["Visitors"].str.split(r"[/(/[]", n=1).str[0]
museums_df.head(10)

,Name,Visitors,City,Country,Visitors_2023_2024
0,Louvre,"8,700,000 (2024)[1]",Paris,France,"8,700,000"
1,National Museum of China,"6,956,800 (2024)[2]",Beijing,China,"6,956,800"
2,Vatican Museums,"6,825,436 (2024)[3]","Vatican City, Rome",Vatican,"6,825,436"
3,Shenzhen Museum,"6,805,000 (2024)[4]",Shenzhen,China,"6,805,000"
4,British Museum,"6,479,952 (2024)[5]",London,United Kingdom,"6,479,952"
5,China Science and Technology Museum,"6,421,000 (2024)[6]",Beijing,China,"6,421,000"
6,"Natural History Museum, South Kensington","6,301,972 (2024)[7]",London,United Kingdom,"6,301,972"
7,Metropolitan Museum of Art,"5,727,258 (2024)[8]",New York City,United States,"5,727,258"
8,Nanjing Museum,"5,680,000 (2024)[9]",Nanjing,China,"5,680,000"
9,American Museum of Natural History,"5,400,000 (2024)",New York City,United States,"5,400,000"

In [5]:
museums_df.drop(columns= ["Visitors"], inplace = True)

In [6]:
museums_df

,Name,City,Country,Visitors_2023_2024
0,Louvre,Paris,France,"8,700,000"
1,National Museum of China,Beijing,China,"6,956,800"
2,Vatican Museums,"Vatican City, Rome",Vatican,"6,825,436"
3,Shenzhen Museum,Shenzhen,China,"6,805,000"
4,British Museum,London,United Kingdom,"6,479,952"
...,...,...,...,...
59,Palacio de Cristal del Retiro,Madrid,Spain,"1,318,823"
60,Guggenheim Museum Bilbao,Bilbao,Spain,"1,301,343"
61,Chinese Aviation Museum,Beijing,China,"1,292,278"
62,Moscow Kremlin Museum,Moscow,Russia,"1,214,851"
63,NaN,NaN,NaN,NaN

In [7]:
museums_df["Address_1"] = museums_df["Name"] + "," + museums_df['City'] + "," + museums_df['Country']
museums_df

,Name,City,Country,Visitors_2023_2024,Address_1
0,Louvre,Paris,France,"8,700,000","Louvre,Paris,France"
1,National Museum of China,Beijing,China,"6,956,800","National Museum of China,Beijing,China"
2,Vatican Museums,"Vatican City, Rome",Vatican,"6,825,436","Vatican Museums,Vatican City, Rome,Vatican"
3,Shenzhen Museum,Shenzhen,China,"6,805,000","Shenzhen Museum,Shenzhen,China"
4,British Museum,London,United Kingdom,"6,479,952","British Museum,London,United Kingdom"
...,...,...,...,...,...
59,Palacio de Cristal del Retiro,Madrid,Spain,"1,318,823","Palacio de Cristal del Retiro,Madrid,Spain"
60,Guggenheim Museum Bilbao,Bilbao,Spain,"1,301,343","Guggenheim Museum Bilbao,Bilbao,Spain"
61,Chinese Aviation Museum,Beijing,China,"1,292,278","Chinese Aviation Museum,Beijing,China"
62,Moscow Kremlin Museum,Moscow,Russia,"1,214,851","Moscow Kremlin Museum,Moscow,Russia"
63,NaN,NaN,NaN,NaN,NaN

In [8]:
from geopy.geocoders import Nominatim
from geopy.extra.rate_limiter import RateLimiter

In [9]:
geolocator = Nominatim(user_agent= 'User_Marv', timeout= 10)
geocoder = RateLimiter(geolocator.geocode, min_delay_seconds= 1)

In [10]:
#Creating new columns to save geocoded info
museums_df['address'] = 0
museums_df['lon'] = 0
museums_df['lat'] = 0
museums_df

,Name,City,Country,Visitors_2023_2024,Address_1,address,lon,lat
0,Louvre,Paris,France,"8,700,000","Louvre,Paris,France",0,0,0
1,National Museum of China,Beijing,China,"6,956,800","National Museum of China,Beijing,China",0,0,0
2,Vatican Museums,"Vatican City, Rome",Vatican,"6,825,436","Vatican Museums,Vatican City, Rome,Vatican",0,0,0
3,Shenzhen Museum,Shenzhen,China,"6,805,000","Shenzhen Museum,Shenzhen,China",0,0,0
4,British Museum,London,United Kingdom,"6,479,952","British Museum,London,United Kingdom",0,0,0
...,...,...,...,...,...,...,...,...
59,Palacio de Cristal del Retiro,Madrid,Spain,"1,318,823","Palacio de Cristal del Retiro,Madrid,Spain",0,0,0
60,Guggenheim Museum Bilbao,Bilbao,Spain,"1,301,343","Guggenheim Museum Bilbao,Bilbao,Spain",0,0,0
61,Chinese Aviation Museum,Beijing,China,"1,292,278","Chinese Aviation Museum,Beijing,China",0,0,0
62,Moscow Kremlin Museum,Moscow,Russia,"1,214,851","Moscow Kremlin Museum,Moscow,Russia",0,0,0
63,NaN,NaN,NaN,NaN,NaN,0,0,0

In [11]:
#function to geocode
def geocoding():
  for index, row in museums_df.iterrows():
    #print(f"{index + 1}. {row['Address_1']}")
    addr = row["Address_1"]
    location = geocoder(addr)

    try:
      address_2 = location.address
      lon = location.longitude
      lat = location.latitude
      #saving the address to the df
      museums_df.loc[index, "address"]= address_2
      museums_df.loc[index, "lon"]= lon
      museums_df.loc[index, "lat"]= lat

    except AttributeError:
      museums_df.loc[index, "address"]= 'No info'
      museums_df.loc[index, "lon"]= 'No info'
      museums_df.loc[index, "lat"]= 'No info'

    print(f"Now geocoding {index + 1}. {addr}")
geocoding()

/tmp/ipython-input-74824349.py:13: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'Musée du Louvre, Rue des Bons Enfants, Quartier du Palais Royal, Paris 1er Arrondissement, Paris, Île-de-France, France métropolitaine, 75001, France' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  museums_df.loc[index, "address"]= address_2
/tmp/ipython-input-74824349.py:14: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '2.3380277' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  museums_df.loc[index, "lon"]= lon
/tmp/ipython-input-74824349.py:15: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '48.8611473' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  museums_df.loc[index, "lat"]= lat

Now geocoding 1. Louvre,Paris,France
Now geocoding 2. National Museum of China,Beijing,China

/tmp/ipython-input-74824349.py:19: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'No info' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  museums_df.loc[index, "lon"]= 'No info'
/tmp/ipython-input-74824349.py:20: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'No info' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  museums_df.loc[index, "lat"]= 'No info'

Now geocoding 3. Vatican Museums,Vatican City, Rome,Vatican
Now geocoding 4. Shenzhen Museum,Shenzhen,China
Now geocoding 5. British Museum,London,United Kingdom
Now geocoding 6. China Science and Technology Museum,Beijing,China
Now geocoding 7. Natural History Museum, South Kensington,London,United Kingdom
Now geocoding 8. Metropolitan Museum of Art,New York City,United States
Now geocoding 9. Nanjing Museum,Nanjing,China
Now geocoding 10. American Museum of Natural History,New York City,United States
Now geocoding 11. Tate Modern,London,United Kingdom
Now geocoding 12. Hubei Provincial Museum,Wuhan,China
Now geocoding 13. Shanghai Museum East,Shanghai,China
Now geocoding 14. National Gallery of Art,Washington, D.C.,United States
Now geocoding 15. National Museum of Korea,Seoul,South Korea
Now geocoding 16. Musée d'Orsay,Paris,France
Now geocoding 17. National Museum of Anthropology,Mexico City,Mexico
Now geocoding 18. State Russian Museum,Saint Petersburg,Russia
Now geocoding 19. State Hermitage Museum,Saint Petersburg,Russia
Now geocoding 20. Victoria and Albert Museum,London, South Kensington,United Kingdom
Now geocoding 21. Prado Museum,Madrid,Spain
Now geocoding 22. Centre Pompidou,Paris,France
Now geocoding 23. National Gallery,London,United Kingdom
Now geocoding 24. Musée National d'Histoire Naturelle,Paris,France
Now geocoding 25. National Air and Space Museum[a],Washington, D.C.,United States
Now geocoding 26. Mevlana Museum,Konya,Turkey
Now geocoding 27. National Museum of Natural History,Washington, D.C.,United States
Now geocoding 28. Galleria degli Uffizi,Florence,Italy
Now geocoding 29. National Museum of Natural Science,Taichung,Taiwan
Now geocoding 30. London Science Museum,London,United Kingdom
Now geocoding 31. Museum of Modern Art,New York City,United States
Now geocoding 32. National Museum of Nature and Science,Tokyo,Japan
Now geocoding 33. M+,Hong Kong,Hong Kong
Now geocoding 34. State Tretyakov Gallery,Moscow,Russia
Now geocoding 35. Rijksmuseum,Amsterdam,Netherlands
Now geocoding 36. Tokyo National Museum,Tokyo,Japan
Now geocoding 37. Art Gallery of NSW,Sydney,Australia
Now geocoding 38. National Museum of Scotland,Edinburgh,United Kingdom
Now geocoding 39. Royal Museums Greenwich,London,United Kingdom
Now geocoding 40. Galleria dell'Accademia,Florence,Italy
Now geocoding 41. Smithsonian Museum of American History,Washington, D.C.,United States
Now geocoding 42. National Gallery Singapore,Singapore,Singapore
Now geocoding 43. 21st Century Museum of Contemporary Art,Kanazawa,Japan
Now geocoding 44. National Science and Technology Museum,Kaohsiung,Taiwan
Now geocoding 45. National Palace Museum,Taipei,Taiwan
Now geocoding 46. National Museum in Kraków,Kraków,Poland
Now geocoding 47. Van Gogh Museum,Amsterdam,Netherlands
Now geocoding 48. The National Art Center, Tokyo,Tokyo,Japan
Now geocoding 49. California Science Center,Los Angeles,United States
Now geocoding 50. China National Silk Museum,Hangzhou,China
Now geocoding 51. Kunsthistorisches Museum,Vienna,Austria
Now geocoding 52. Fujian Museum,Fuzhou,China
Now geocoding 53. Hangzhou Arts and Crafts Museum,Hangzhou,China
Now geocoding 54. National Gallery of Victoria,Melbourne,Australia
Now geocoding 55. National Museum in Warsaw,Warsaw,Poland
Now geocoding 56. Louis Vuitton Foundation,Paris,France
Now geocoding 57. Kaohsiung Museum of Fine Arts,Kaohsiung,Taiwan
Now geocoding 58. Acropolis Museum,Athens,Greece
Now geocoding 59. Centro Cultural Banco do Brasil,São Paulo,Brazil
Now geocoding 60. Palacio de Cristal del Retiro,Madrid,Spain
Now geocoding 61. Guggenheim Museum Bilbao,Bilbao,Spain
Now geocoding 62. Chinese Aviation Museum,Beijing,China
Now geocoding 63. Moscow Kremlin Museum,Moscow,Russia
Now geocoding 64. nan

In [12]:
museums_df

,Name,City,Country,Visitors_2023_2024,Address_1,address,lon,lat
0,Louvre,Paris,France,"8,700,000","Louvre,Paris,France","Musée du Louvre, Rue des Bons Enfants, Quartie...",2.338028,48.861147
1,National Museum of China,Beijing,China,"6,956,800","National Museum of China,Beijing,China","中国国家博物馆, 16, 东长安街, 南池子社区, 东华门街道, 首都功能核心区, 东城区,...",116.39539,39.903746
2,Vatican Museums,"Vatican City, Rome",Vatican,"6,825,436","Vatican Museums,Vatican City, Rome,Vatican",No info,No info,No info
3,Shenzhen Museum,Shenzhen,China,"6,805,000","Shenzhen Museum,Shenzhen,China","深圳博物馆历史民俗馆, 福中三路, 福中社区, 莲花街道, 福田区, 深圳市, 广东省, 5...",114.056628,22.546299
4,British Museum,London,United Kingdom,"6,479,952","British Museum,London,United Kingdom","British Museum, Great Russell Street, St Giles...",-0.126705,51.519312
...,...,...,...,...,...,...,...,...
59,Palacio de Cristal del Retiro,Madrid,Spain,"1,318,823","Palacio de Cristal del Retiro,Madrid,Spain",No info,No info,No info
60,Guggenheim Museum Bilbao,Bilbao,Spain,"1,301,343","Guggenheim Museum Bilbao,Bilbao,Spain","Museo Guggenheim Bilbao, 2, Lehendakari Leizao...",-2.934061,43.268428
61,Chinese Aviation Museum,Beijing,China,"1,292,278","Chinese Aviation Museum,Beijing,China",No info,No info,No info
62,Moscow Kremlin Museum,Moscow,Russia,"1,214,851","Moscow Kremlin Museum,Moscow,Russia",No info,No info,No info
63,NaN,NaN,NaN,NaN,NaN,"ننگرهار ولايت, افغانستان",70.380031,34.220389